

.cabeca{
    width: 55px;
    height: 55px;
    background-color: #FFE9FA;
    border-radius: 100%;
    z-index:99;
}



.container_1{
    position: absolute;
    left: 500px;
    z-index: 99;
    top: -149px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container_2{
    position: absolute;
    left: 630px;
    top: -130px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_2 p{
    position: relative;
    left: 21px;
}

.container_3{
    position: absolute;
    left: 723px;
    top: -54px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_3 p{
    position: relative;
    left: 85px;
    top: 33px;
}

.container_4{
    position: absolute;
    left: 747px;
    top: 50px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_4 p{
    position: relative;
    left: 98px;
    top: 58px;
}

.container_5{
    position: absolute;
    left: 723px;
    top: 170px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_5 p{
    position: relative;
    left: 92px;
    top: 83px;
}

.container_6{
    position: absolute;
    left: 630px;
    top: 252px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_6 p{
    position: relative;
    left: 38px;
    top: 116px;
}
.container_7{
    position: absolute;
    left: 500px;
    z-index: 99;
    top: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_7 p{
    position: relative;
    top: 121px;
}

.container_8{
    position: absolute;
    left: 338px;
    z-index: 99;
    top: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_8 p{
    position: relative;
    top: 121px;
}

.container_9{
    position: absolute;
    left: 176px;
    z-index: 99;
    top: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_9 p{
    position: relative;
    top: 121px;
}

.container_10{
    position: absolute;
    left: 18px;
    top: 255px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_10 p{
    position: relative;
    left: -38px;
    top: 116px;
}

.container_11{
    position: absolute;
    left: -86px;
    top: 170px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_11 p{
    position: relative;
    left: -93px;
    top: 83px;
}

.container_12{
    position: absolute;
    left: -109px;
    top: 50px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_12 p{
    position: relative;
    left: -98px;
    top: 58px;
}

.container_13{
    position: absolute;
    left: -86px;
    top: -54px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_13 p{
    position: relative;
    left: -85px;
    top: 33px;
}

.container_14{
    position: absolute;
    left: 7px;
    top: -130px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_14 p{
    position: relative;
    left: -21px;
}

.container_15{
    position: absolute;
    left: 137px;
    z-index: 99;
    top: -149px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
