
.container{
    padding: 20px 10px 10px 20px;
    display: flex;
    justify-content: space-between;
}


.buttonContainer{
    display: flex;
    margin-right: 60px;
    gap:20px;
}
    

.container button{
    border: none;
    background: none;
    font-size: 24px;
    font-weight: 600;
    color: #FFE143;
    
}

.container button:hover{
    cursor: pointer;
    background: #fff4be56;;
    border-radius: 20px;
}